* {
    margin: 0;
}
.box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #060A30;
}
.cont {
    width: 250px;
    height: 350px;
    border-radius: 10%;
    margin-top: 1.5rem;
}
.imgplane {
    width: 100%;
    height: 100%;
    border-radius: 10% 10% 0 0;
    object-fit: cover;
    box-shadow: 0 0 0 0;
    transition: 0.3s;
    animation: createPlane 0.9s forwards;
    opacity: 0;
}
@keyframes createPlane {
    to {
        opacity: 1;
    }
}
.imgplane:hover {
    width: 100%;
    height: 100%;
    border-radius: 10% 10% 0 0;
    object-fit: cover;
    box-shadow: 0 0 20px 5px #48abe0;
}
.prem p {
    font-family: 'Work Sans', sans-serif;
    font-size: 4vw;
    color: white;
}
.prem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #060A30;
    
}
